@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  @keyframes accordion-down {
  from {
    height: 0;
    }
  to {
    height: var(--reka-accordion-content-height);
    }
  }
  @keyframes accordion-up {
  from {
    height: var(--reka-accordion-content-height);
    }
  to {
    height: 0;
    }
  }
}

[data-sonner-toast] {
  background: #000 !important;
  color: #fff !important;
  border-color: #1d1d1d !important;
}

:root {
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.625rem;
  --radius-xl: 1rem;

  --color-background: #fff;
  --color-foreground: #232323;
  --color-card: #fff;
  --color-card-foreground: #232323;
  --color-popover: #fff;
  --color-popover-foreground: #232323;
  --color-primary: #ea580c;
  --color-primary-foreground: #fff;
  --color-secondary: #f3f4f6;
  --color-secondary-foreground: #232323;
  --color-muted: #f3f4f6;
  --color-muted-foreground: #6b7280;
  --color-accent: #f3f4f6;
  --color-accent-foreground: #232323;
  --color-destructive: #ef4444;
  --color-destructive-foreground: #fff;
  --color-border: #e5e7eb;
  --color-input: #e5e7eb;
  --color-ring: #ea580c;
  --color-chart-1: #ea580c;
  --color-chart-2: #3b82f6;
  --color-chart-3: #6366f1;
  --color-chart-4: #f59e42;
  --color-chart-5: #fbbf24;
  --color-sidebar: #fff;
  --color-sidebar-foreground: #232323;
  --color-sidebar-primary: #ea580c;
  --color-sidebar-primary-foreground: #fff;
  --color-sidebar-accent: #f3f4f6;
  --color-sidebar-accent-foreground: #232323;
  --color-sidebar-border: #e5e7eb;
  --color-sidebar-ring: #ea580c;
}

.dark {
  --color-background: #18181b;
  --color-foreground: #fff;
  --color-card: #18181b;
  --color-card-foreground: #fff;
  --color-popover: #18181b;
  --color-popover-foreground: #fff;
  --color-primary: #ea580c;
  --color-primary-foreground: #fff;
  --color-secondary: #232323;
  --color-secondary-foreground: #fff;
  --color-muted: #232323;
  --color-muted-foreground: #a1a1aa;
  --color-accent: #232323;
  --color-accent-foreground: #fff;
  --color-destructive: #ef4444;
  --color-destructive-foreground: #fff;
  --color-border: #232323;
  --color-input: #232323;
  --color-ring: #ea580c;
  --color-chart-1: #ea580c;
  --color-chart-2: #3b82f6;
  --color-chart-3: #6366f1;
  --color-chart-4: #f59e42;
  --color-chart-5: #fbbf24;
  --color-sidebar: #232323;
  --color-sidebar-foreground: #fff;
  --color-sidebar-primary: #ea580c;
  --color-sidebar-primary-foreground: #fff;
  --color-sidebar-accent: #232323;
  --color-sidebar-accent-foreground: #fff;
  --color-sidebar-border: #232323;
  --color-sidebar-ring: #ea580c;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border:20 5.9% 90%;
    --input:20 5.9% 90%;
    --ring:20 14.3% 4.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background:20 14.3% 4.1%;
    --foreground:60 9.1% 97.8%;

    --card:20 14.3% 4.1%;
    --card-foreground:60 9.1% 97.8%;

    --popover:20 14.3% 4.1%;
    --popover-foreground:60 9.1% 97.8%;

    --primary:47.9 95.8% 53.1%;
    --primary-foreground:26 83.3% 14.1%;

    --secondary:12 6.5% 15.1%;
    --secondary-foreground:60 9.1% 97.8%;

    --muted:12 6.5% 15.1%;
    --muted-foreground:24 5.4% 63.9%;

    --accent:12 6.5% 15.1%;
    --accent-foreground:60 9.1% 97.8%;

    --destructive:0 62.8% 30.6%;
    --destructive-foreground:60 9.1% 97.8%;

    --border:12 6.5% 15.1%;
    --input:12 6.5% 15.1%;
    --ring:35.5 91.7% 32.9%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}